body {
  margin: 50px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

img {
  max-height: 500px;
  max-width: 700px;
}

li {
  text-align: justify;
  margin-left: 25%;
  margin-right: 25%;
}

h1 {
  margin-top: 70px;
}
